version: '3'
services:
  db:
    image: postgres:13-alpine
    ports:
      - "5432:5432"
    volumes:
      - "pg-data:/var/lib/postgresql/data"
    environment:
      - POSTGRES_DB=gemini_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password

volumes:
  pg-data: {}
